.wrapper {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items:  center;
}

#sketchpad-wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border-style: dashed;
}

.box{
    background-color: rgb(231, 82, 68);
    outline:.5px solid white;
}

.box-input{
    width: 30%;
}

.hovered{
    background-color: black;
}