color-list {
    color: #BBB;
    color: #AF7A5D;
    color: #DDB814;
    color: #8F5D87;
    color: #C7254E;
    color: #09204B;
    color: #0078c2;
    color: #1c2833;


}

* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: #1c2833;
    
}


a{
    color:#0078c2;
}

a:hover {
    color: #C7254E;
}

a:active {
    color: #AF7A5D;
}

.page-link {
    font-size: 20px;
}
p {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.centered-text {
    text-align: center;
}
h2 {
    color:#0078c2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrapper {
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    
}

.page-content-header{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.page-content {
    padding-bottom: 30px;
}

header {
    border-bottom-color: #BBB;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.site-header{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.site-title{
    font-size: 25px;
    font-weight: 600;
    color: #0078c2;
    line-height: 54px;
    margin-bottom: 0px;
}

.site-nav {
    line-height: 54px;
}

main {
    display: block;
    color: #BBB;
    border-bottom-color: #BBB;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.site-title {
    float: left;
}

.site-nav {
    float: right;
}

.page-link {
    padding: 10px;
}

.current-page {
    background-color: #0078c2;
    color:#BBB;
    border-radius: 20px;
}

a:hover > .current-page{
    color: #DDB814;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-list {
    display: flex;
    flex-direction: column;
}

.project-page-list {
    display: flex;
    flex-direction: column;
}

.project-page-item {
    display: flex;
    justify-content: space-between;
}

.project-item-image {
    padding-top: 10px;
    min-width: 240px;
}

.article {
    display: flex;
    justify-content: space-between;
}

.article-date {
    min-width: 130px;
}

.article-content-img{
    max-width: 100%;
}
footer {
    padding-bottom: 30px;
    color: #BBB;
}
.footer-col-wrapper {
    display: flex;
    justify-content: space-around;
}

.footer-col-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 235px;
}

.footer-col-3{
    display: flex;
    width: 235px;
}

.wrapper:after {
    content: "";
    display: table;
    clear: both
}

.proton-logo {
    width: 50px;
    height: 50px;
}

.project-img {
    padding-top: 17px;
}
.sdgimg {
    max-width: 100%;
}
.sideimg {
    max-width: 200px;
}